#{extends 'main.html' /}
#{set title:'Lista de Colaboradores' /}
<br></br>
<center>
<h2 class="text-success">#{get 'title' /}</h2>
</center>


<div class="container">
<form action="@{Bibliotecario.listar}" method="GET">
	<div class="row">
		<div class="col-9">
			<input class="form-control" type="text"
				name="termo" value="${termo}" placeholder="Informe o termo de busca" />
		</div>
		<div class="col-3">
			<input type="submit" class="btn btn-success mb-3" value="Buscar" />
		</div>
	</div>
</form>

<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th scope="col">ID:</th>
      <th scope="col">Nome:</th>
      <th scope="col">CPF:</th>
      <th scope="col">Email:</th>
      <th scope="col">Função:</th>
       <th scope="col">Deletar Funcionario </th>
       <th scope="col">Editar Funcionario </th>
    </tr>
  </thead>
  <tbody>
  #{list items:bibli, as:'d'}
    <tr>
      <th scope="row">${d.id}</th>
      <td>${d.nome}</td>
      <td>${d.cpf}</td>
      <td>${d.email}</td>
      <td>${d.funcao}</td>
      <td><a class="link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="@{Bibliotecario.remover(d.id)}">Remover </a></td>
	  <td><a class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="@{Bibliotecario.editar(d.id)}">Editar</a></td>
    </tr>
   
    
#{/list}
  </tbody>
</table>
</div>

<center>
 <font face="cursive">
  <a class="btn btn-outline-dark" href="@{Bibliotecario.form()}">Novo Colaborador</a>
 </font> 
</center>