<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>livraria alvorada</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<style >

   .teste{
    background-image: url("/public/images/Fundolinks.jpg");
	background-size: 100%;
        }
        .img {
	float: left;
	height: 45px;
	width: 45px;
	}
	.img2 {
	float: left;
	height: 100%;
	width: 100%;
	}

   .busca{
  

 background-color:rgba(255,255,255,.3);
 border-bottom: 1px double white;
 border-top: 1px double white;
 border-left: 1px double white;
 border-right: 1px double white;
 border-radius: 20px;
}
.cor{
background-color: black;
}

.carrosel{
    
	height: 50%;
	width: 50%;
}
.palavras{
color: red;
font-family: monospace;
font-size: 130%;
}
.palavras2{
color: white;
font-family: sans-serif;

}
.espaco{
margin-left: 4%;
}
.fundog{
    background-image: url("/public/images/FundoDosGeneros.jpg");

}
.pagVoando{
background-image: url("/public/images/livrog.png");
background-size: 50%;

}
</style>
</head>
<body class="cor">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>


     		<nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark teste"  data-bs-theme="dark">
		  <div class="container">
		    <a class="navbar-brand col-2 " href="@{Compras.PaginaInicial}">Livraria alvorecer</a>
		    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		      <span class="navbar-toggler-icon"></span>
		    </button>
		    
		    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		      <div class="navbar-nav">
		      <div class = "row">
#{if session['Cliente.email']}

<a class="nav-link col-2" href="@{Clientes.detalhar}"><img class="img" alt="pesquisa"src="/public/images/perfil.png" class="img"></a>

#{/if}

#{else}
		    <a class="nav-link col-2" href="@{Clientes.PaginaCliente}"><img class="img" alt="pesquisa"src="/public/images/perfil.png" class="img"></a>
#{/else}	        
		        <a class="nav-link col-2" href="@{Compras.carrinho}"> <img class="img" alt="pesquisa"src="/public/images/carrinho.png" class="img"></a>
		        <a class="nav-link col-2" href="#">${session['Cliente.email']}</a>
		       
	
		    
      <form action="@{Compras.listarCompras}" method="GET" class="d-flex col-2">
        <input class="form busca"  placeholder="Digite o livro que procura" type="text" name="termo" value="${termo}">
        <button class="btn " type="submit" value="Buscar"> <img class="img" alt="pesquisa"src="/public/images/pesquisa.png" class="img"></button>
      </form>
		      </div>
		    </div>
		  </div>
		  </div>
		  <br></br>
		  <br></br>
		</nav>




<br>
<br>

<br>

		<div class = "row">
		<div class="col-3 " ></div>
		<div id="carouselExampleInterval" class="carousel slide carrosel   " data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="9000">
      <img src="/public/images/carrosel1.png" class="d-block w-100 col-6" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="/public/images/carrosel2.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/public/images/carrosel3.png" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
		</div>
	
<br>
		<center><span class= "palavras"> <b>Coleções De Livros</b></span></center>
		
		<center><span class= "palavras2"><h1> <b>Livraria ALvorecer</b></h1></span></center>
		<div class = "fundog">
       

		<div class = "row ">
			<div class = "col-1"></div>
<a class="col-3 espaco" href="@{Compras.terror}"><img class="img2 " alt="pesquisa"src="/public/images/novidade.png" class="img"></a>		

<a  class="col-3" href="@{Compras.terror}"><img class="img2 " alt="pesquisa"src="/public/images/romance.png" class="img"></a>

<a class="col-3" href="@{Compras.terror}"><img class="img2" alt="pesquisa"src="/public/images/terror.png" class="img"></a>
		<div class = "col-1"></div>
		</div>
		<br>
		<div class = "row">
	<div class = "col-1"></div>
		<a class=" col-3 espaco" href="@{Compras.terror}"><img class="img2 " alt="pesquisa"src="/public/images/suspense.png" class="img"></a>
		<a class=" col-3 " href="@{Compras.terror}"><img class="img2 " alt="pesquisa"src="/public/images/lgbt.png" class="img"></a>
		<a class=" col-3" href="@{Compras.terror}"><img class="img2 " alt="pesquisa"src="/public/images/Fantasia.png" class="img"></a>
		<div class = "col-1"></div>
		</div>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>


</div>
<div class = "row pagVoando">
		<br>
		<br>
		
		<center><span class= "palavras"> <b>Razões para </b></span></center>
		<center><span class= "palavras2"> <h1><b>Comprar na Livraria ALvorecer</b></h1></span></center>
		<br>
		
		<div class="col-2"></div>
<div class=" col-3 " style="width: 15%;">
  <img src="/public/images/QalidadedaEmpressaa.jpg" class="card-img-top" alt="...">
  <div class="card-body">
   <center> <h5 class="card-title palavras">Boa Qualidade</h5></center>
   <center> <p class="card-text palavras2">Some quick example text to build on the card title and make up the bulk of the card's content.</p></center>
   
  </div>
</div>
<div class=" col-1"></div>
 <div class=" col-3" style="width: 15%;">
  <img src="/public/images/qualidadeEmpresa.jpg" class="card-img-top" alt="...">
  <div class="card-body">
   <center> <h5 class="card-title palavras">Preço justo</h5></center>
    <center><p class="card-text palavras2">Some quick example text to build on the card title and make up the bulk of the card's content.</p></center>
    
  </div>
</div>
<div class=" col-1"></div>
<div class="col-3" style="width: 15%;">
  <img src="/public/images/QualidadeEmpresa1.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <center><h5 class="card-title palavras">Representatividade</h5></center>
   <center> <p class="card-text palavras2">Some quick example text to build on the card title and make up the bulk of the card's content.</p></center>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  </div>
</div>

</div>

<div class=" teste">
<br>
<br>
<div class="row ">


<p class="col-2"></p>
<p class="col-2 palavras"> Instituição</p>
<p class="col-2 palavras">Receba as novidades </p>
<p class="col-2 palavras">Duvidas</p>
<p class="col-2 palavras"> Contatos</p>

</div>

<div class="row ">

<p class="col-2"></p>
<p class="col-2 palavras2"> Sobre a empresa</p>
<p class="col-2 palavras2">Assine e receba as novidades</p>
<p class="col-2 palavras2">Política de Privacidade</p>
<p class="col-2 palavras2"> Whastzap<img class="img" alt="pesquisa"src="/public/images/zap.png" class="img"></p> 

</div>

<div class="row ">
<p class="col-2"></p>
<p class="col-2 palavras2"> Sobre os criadores</p>
<p class="col-2 palavras2"></p>
<p class="col-2 palavras2">Política de Trocas e Garantia</p>
<p class="col-2 palavras2"> Instragram<img class="img" alt="pesquisa"src="/public/images/insta.png" class="img"></p>

</div>



<br>
<br>

<center><p class=" palavras2">2013-2023 @ Proibida a reprodução sem autorização. Livraria Alvorada PRODUTOS COMERCIO DE LIVROS ACADEMICOS E EM GERAL | CNPJ: 27.679.346/0002-86 | Avenida João medeiros filho, 007, Bairro Medianeira, Natal - RN, CEP 50770001</p></center>
</div>
</body>
</html>