#{extends 'main.html' /}

#{if l}

	#{set title:'Edição de  Livros da livraria' /}

#{/if}
#{else}

	#{set title:'Cadastro de  Livros da livraria' /}

#{/else}

<br></br>

 <center>
  <h2 class="text-success">#{get 'title' /}</h2>
 </center>

<div class="container">
<form class="row g-3" action="@{Livros.salvar}">

<input type="hidden" name="ll.id" value="${l?.id}"/>
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Nome:</label>
    <input type="text" class="form-control" id="inputEmail4" name="ll.nome" value="${l?.nome}">
  </div>
  <div class="col-md-6">
    <label for="inputPassword4" class="form-label">Data de lançamento:</label>
    <input type="date" class="form-control" id="inputPassword4" name="ll.ano" value="${l?.ano}">
  </div>
  <div class="col-12">
    <label for="inputAddress" class="form-label">Autor:</label>
    <input type="text" class="form-control" id="inputAddress" name="ll.autor"value="${l?.autor}">
  </div>
    <div class="col-12">
    <label for="inputAddress" class="form-label">genero:</label>
    <input type="text" class="form-control" id="inputAddress" name="ll.genero"value="${l?.genero}">
  </div>
    <div class="col-12">
    <label for="inputAddress" class="form-label">classificacao</label>
    <input type="text" class="form-control" id="inputAddress" name="ll.classificacao"value="${l?.classificacao}">
  </div>
      <div class="col-12">
    <label for="inputAddress" class="form-label">Sinopse</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="ll.sinopse" value="${l?.sinopse}"></textarea>
  </div>
#{if l}

	  <div class="col-12">
    <button type="submit" class="btn btn-success">Editar</button>
  </div>

#{/if}
#{else}

  <div class="col-12">
    <button type="submit" class="btn btn-success">Cadastrar</button>
  </div>

#{/else}

 </form>
 </div>
